html {
    background-color: #5bc0de;
}

body {
    font-family: Consolas, "Century Gothic", "Courier New", monospace, serif !important;
}

hr {
    border-color: #5bc0de;
}

a:hover {
    text-decoration: none;
}

.url{
    color: #5bc0de;
} 

.centered-text{
    text-align: center;
}

.block-type {
    background-color: #f2f3f4;
    -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#sidebar-left {
    background-color: #f2f3f4;
    width: 25%;
    height: auto;
    position: fixed;
    margin: 5% 0% 0% 8.5%;
    border-radius: 1em;
}

#avatar {
    margin: 5% 0% 5% 0%;
}

#social-accounts {
    padding-bottom: 4%;
} 

#sidebar-right {
    width: 55%;
    height: auto;
    float: right;
    margin: 5% 5% 5% 0%;
}

.sidebar-right-element {
    border-radius: 0.5em;
    padding: 2% 2% 2% 2%;

}

.sidebar-right-element .position {
    float: left;
}

.sidebar-right-element .date {
    float: right;
}

.sidebar-right-element .detail {
    clear: both;
}

#education {
    margin-top: 4%;
}

#programming-skills {
    margin-top: 4%;
}